# ======================
# Node.js Backend
# ======================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

# Logs
logs
*.log

# Build / cache
dist/
build/
.tmp/
.temp/
.cache/

# OS files
.DS_Store
Thumbs.db


# ======================
# Firebase Admin (PRIVATE)
# ======================

Backend/config/kotlin-db34e-firebase-adminsdk-fbsvc-49756c0804.json


# ======================
# Android Kotlin
# ======================

.gradle/
local.properties
*.iml
.idea/
.cxx/

# Build folders
/build
/app/build

# Android Studio
captures/
.externalNativeBuild/

# Keystore
*.jks
*.keystore

# ======================
# Misc
# ======================

*.swp
*.swo
